<robot name="example" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:include filename="$(find sentry_simulation)/urdf/sentry_base.urdf.xacro" />
  <xacro:include filename="$(find sentry_simulation)/urdf/livox_mid360.urdf.xacro" />
  <xacro:include filename="$(find sentry_simulation)/urdf/imu.urdf.xacro" />

</robot>