<launch>
    <arg name="nodelet_manager" default="sentry_nodelet" />
    <node pkg="nodelet" type="nodelet" name="sentry_nodelet" args="$(arg nodelet_manager)" output="screen" />

    <!-- globalmap server nodelet -->
    <node pkg="nodelet" type="nodelet" name="globalmap_server_nodelet" args="load sentry_localization/GlobalmapServerNodelet $(nodelet_manager)">
        <rosparam file="$(find sentry_localization)/config/globalmap_params.yaml" command="load" />
    </node>

    <node pkg="sentry_localization" type="nodelet" name="sentry_localization_nodelet" args="load sentry-localization/SentryLocalizationNodelet $(nodelet_manager)">
        <rosparam file="$(fine sentry_localization)/config/sentry_localization_params.yaml" command="load" />
    </node>

    <node pkg="sentry_localization" type="global_localization" name="global_localization" output="screen">
        <rosparam file="$(find sentry_localization)/config/bbs_params.yaml" command="load" />
        <rosparam file="$(find sentry_localization)/config/engine_params.yaml" command="load" />
    </node>

</launch>